.comment{
  margin: 8px;
  padding: 8px;
  display: flex;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.user-info{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.user-info-name{
  font-weight: bold;
  color: #111;
  line-height: 180px;
}

.comment-text{
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: antiquewhite;
  border-radius: 20px;
  width: 70%;
  height: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-date{
  
}